{
  "teamweek": {
    "authToken": null,
    "authUser": "xxxxxxx",
    "authPassword": "xxxxxxx",
    "workspaceId": 111,
    "vacationProjectId": 111,
    "groupId": 111
  },

  "bamboo": {
    "auth": "xxxxxxx",
    "workspaceName": "xxxxxxx"
  }
}
